.app {
  font-family: 'Roboto', sans-serif;
}

.mainContent {
  display: flex;
  padding: 20px;
  padding-top: 80px;
  
}

.videoSection {
  flex: 1;
  margin-right: 20px;
}


 /* .app {
  font-family: Arial, sans-serif;
}

.mainContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  padding-top: 80px; 
}

.videoSection {
  width: 100%;
  max-width: 800px;
  margin-right: 100px;

}

.commentSection {
  width: 100%;
  max-width: 800px;
} */
