
.app {
  font-family: "Inter", sans-serif;
}

.mainContent {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.videoSection {
  width: 100%;
  max-width: 800px;
  margin-right: 100px;

}

.commentSection {
  width: 100%;
  max-width: 800px;
}

