.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #111;
    color: white;
    overflow-x: hidden;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }
  
  .sidebar.open {
    transform: translateX(0);
  }
  
  .header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }
  
  .closeIcon {
    font-size: 24px;
    cursor: pointer;
  }
  
  .menu {
    list-style: none;
    padding: 0;
  }
  
  .menu li {
    padding: 16px;
  }
  
  .menu li a {
    color: white;
    text-decoration: none;
    display: block;
  }
  
  .menu li a:hover {
    background-color: #575757;
  }
  