.textInputContainer {
    margin: 20px 0;
  }
  
  .textInputContainer input {
    width: 450px;
    height: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 50px;
  }
  
  